<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <header>
        <img class="logo" src="../images/img/logopeq.png" alt="Logo">
        <nav class="navegar">
            <a class="navegar-user" href="" style="text-decoration: underline;">

            </a>
            <a class="navegar-img" href="/index">
                <img src="../images/img/Intranet/home.svg" alt="logout" style="width: 80%;">
            </a>
        </nav>
    </header>

    <div class="contenido">
        <h1 style="font-size: 60px;">Modulo Usuarios</h1>
        <form action="" class="box-ByA">
            <div>
                <label for=""></label>
                <input type="text" class="txt-tabla">
                <input class="btn-tabla" type="submit" value="Buscar">
            </div>
            
                <button type="button" class="btn-tabla"  > <a href="/registroUsuario">Agregar Usuario</a></button>
            
        </form>
        <div class="tabla">
            <table class="info-tabla">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>CORREO</th>
                    <th>CEDULA</th>
                    <th>DIRECCION Electronico</th>
                    <th>TELEFONO</th>
                    <th>DEPARTAMENTO</th>
                    <th>ESTADO</th>
                    <th>CONTRASEÑA</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].id %></td>
                        <td><%= data[i].nombre %></td>
                        <td><%= data[i].correo %></td>
                        <td><%= data[i].cedula %></td>
                        <td><%= data[i].direccion %></td>
                        <td><%= data[i].telefono %></td>
                        <td><%= data[i].departamento %></td>
                        <td><%= data[i].estado %></td>
                        <td><%= data[i].password%></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
            </table>

        </div>
        <a href="">
            <button class="btn edit"></button>
        </a>
        <a href="" class="">
            <button class="btn delete"></button>
        </a>
    </div>
</body>

</html>