<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <header>
        <img class="logo" src="../images/img/logopeq.png" alt="Logo">
        <nav class="navegar">
            <a class="navegar-user" href="" style="text-decoration: underline;">

            </a>
            <a class="navegar-img" href="/index">
                <img src="../images/img/Intranet/home.svg" alt="logout" style="width: 80%;">
            </a>
        </nav>
    </header>

    <div class="contenido">
        <h1 style="font-size: 60px;">Modulo Inventario</h1>
        <form action="" class="box-ByA">
            <div>
                <label for=""></label>
                <input type="text" class="txt-tabla">
                <input class="btn-tabla" type="submit" value="Buscar">
            </div>
            
                <button type="button" class="btn-tabla"  > <a href="/registroItems">Agregar Producto</a></button>
            
        </form>
        <div class="tabla">
            <table class="info-tabla">
               <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Stock</th>
                    <th>Precio</th>
                   
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].id %></td>
                        <td><%= data[i].nombre %></td>
                        <td><%= data[i].descripcion %></td>
                        <td><%= data[i].stock %></td>
                        <td><%= data[i].precio %></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
            </table>

        </div>
        <a href="">
            <button class="btn edit"></button>
        </a>
        <a href="" class="">
            <button class="btn delete"></button>
        </a>
    </div>
</body>

</html>